/bower_components/*
/bower_components/bootstrap/*
/bower_components/jquery/dist/*
/bower_components/vue/src/*
/bower_components/klass/src/*
/bower_components/klass/make/*
/bower_components/klass/test/*